!!!
html
	head
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="http://code.jquery.com/jquery-1.8.1.min.js")
		script(src="/js/bootstrap.min.js")
		script(src="/js/user.js")
	body!= body